
/**
@media screen and (max-width: 400px) { 
 
    nav ul{
        flex-direction: column;
    }
}
**/



body {
    color: white;
    background: #191a19;;
    margin: 0;
    padding: 0;
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:bold;
}
.container {
    display: grid;
    grid-template-areas: 
   "nav nav nav"
    "header header header"
    ". main ."
    "footer footer footer";
    grid-template-rows: 80px 300px auto 90px;
    grid-template-columns: auto 800px auto;

}
.container2 {
    color: #6c1511  ;
    margin: 0 auto;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 150px;
    background-color: #000000;
  }
  
  .lili {
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
  }
  
  li span {
    display: block;
    font-size: 4.5rem;
  }
  
  @media all and (max-width: 750px) {
    .headline {
      font-size: calc(1.5rem * var(--smaller));
    }
    
    .lili {
      font-size: calc(1.125rem * var(--smaller));
    }
    
    li span {
      font-size: calc(3.375rem * var(--smaller));
    }
    #headline {
        font-size:20px;
    }
  }

img {
    float: left;
}
#poster {
    margin-top: -100px;
}
#thecurrent{
    margin:auto;
}
#ruta {
    border-radius: 50px; 
    box-shadow: 1px -1px 15px 3px #8da3b0 inset; 
    text-align: center;
    display:flex;
    flex-direction:column;
    line-height: 8px;
    padding: 25px;
    color: #8da3b0 ;
    float: left;
    width: 250px;
    margin-top: -310PX;
    margin-left: 50PX;
}
.starttext{
    background-color: #3f5968;
    padding: 40px;
    margin-left: 450PX;
}
.thispage
{
    font-weight: bold;
}
nav
{
    grid-area: nav;
    background-color: #3f5968 ;
    text-align: center;
    position:fixed;
    width: 100%;
   
}
ul
{
    list-style: none;
}


nav a
{
    text-decoration: none;
    margin-bottom: 20px;
    color: white;
    width: 130px;
    padding: 5px;
    display: inline-block;
}


nav li {
    display: inline;
}


a:hover{
    color: #8da3b0  ;
}
a {
    color:#3f5968   ;
}
header {
    grid-area: header;
    font-size: 60px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
}

main {
    grid-area: main;

}

.sne
{
    text-align:end;
}
.rak
{
    text-align:justify;
    background-color: #22363c  ;
    padding: 40px;
}
#amy{
    float: right;
}
.text{
    margin-left: 220px;
    text-indent: 30px;

}
.undertext {
    margin-bottom: 150px;
    margin-left: 220px;
    text-indent: 30px;
}


.undertexthoger {
    margin-bottom: 150px;
    margin-right: 220px;
    text-indent: 30px;
}
.texthoger{
    margin-right: 220px;
    text-indent: 30px;
}
.tabell {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 0px;
    padding: 5px;
    margin-bottom: 60px;
}
.student {
    text-align: center;
    background-color:#3f5968;
    border-radius: 30px;
    padding: 20px;
}

.line
{
    border-bottom: 1px solid #ffff;
    text-align: center;
}
.kop{
    border: 21px solid white;
    text-align: center;
    text-decoration: none;
    box-shadow: 1px 1px 1px px #c0c1c5;
    border-radius: 20px;
    font-weight: 600;
    padding: 10px; 
    border-width: 1px 1px 1px 1px;
    margin-bottom: 10px;

}
.anmala {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
#submit {
    padding: 10px;
}

footer {
    grid-area: footer;
    text-align: center;
    border-top: 1px solid white; 
    padding: 20px;
    margin-top: 20px;
}

